@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --grid-size: 9; /* Default grid size */
  --cell-size: 50px; /* Default cell size */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: 1px; /* Optional: space between the cells */
  position: relative;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ddd; /* Optional: borders around each cell */
  width: var(--cell-size);
  height: var(--cell-size);
  box-sizing: border-box; /* Ensure border is included in the element's total width and height */
}

.hollow {
  grid-column: 2 / span calc(var(--grid-size) - 2);
  grid-row: 2 / span calc(var(--grid-size) - 2);
  background-color: transparent;
  border: none;
}
