@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-size: 9; /* Default grid size */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
